PORT=yourPort
MONGODB_USER=yourUser
MONGODB_PASSWORD=YourPassword
MONGODB_URL=yourURL
MONGODB_DB=yourDB

SMTP_HOST=yourHost
SMTP_PORT=yourPort
SMTP_USER=yourUser
SMTP_PASSWORD=yourPassword
SMTP_FROM=yourSMTPFrom
JWT_SECRET=yourSecret
APP_DOMAIN=yourDomain

CLOUDINARY_API_KEY=yourApiKey
CLOUDINARY_API_SECRET=yourApiSecret
CLOUDINARY_CLOUD_NAME=yourCloudName
